<% if (typeof props !== 'undefined') { %>
    <table>
        <tr>
            <td>Property name</td>
            <td>Type</td>
            <td>Required</td>
            <td>Default value</td>
            <td>Description</td>
        </tr>
        <% for(var key in props) { %>
            <% var val = props[key] %>
            <tr>
                <td><%- key %></td>
                <td><%- val.type.name %></td>
                <td><%- val.required %></td>
                <td><%- val.defaultValue.value %></td>
                <td><%- val.description %></td>
            </tr>
        <% } %>
    </table>
<% } else { %>
    No props defined in component.
<% } %>